.mglobal{
    margin-left: 50px;  
    margin-right: 10px;
}

/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.decoracion{
    text-decoration: none; 
    color: #c7c7c7; 
    
}

/*footer*/
.marfooter{
    box-sizing: border-box;
    font-family: sans-serif;
    background: #202020;
    color: white;
    width: 100%;
}
.matfooter{
    width: 100%;
    background: #202020;
    color: white;
}
.container-full{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 25px;
}
.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 25px;
}
.colum2 div{
    margin-top: 20px;
    font-size: 14px;
    
}
.offdec{
    color: #c7c7c7;
    text-decoration: none; 
}
.margini{
    margin-top: 20px;
}

.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 25px;
}
.colum3 div {
    font-size: 14px;
}

.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyr{
    color: #c7c7c7;
    
}
.copyr a{
    color: #c7c7c7;
    text-decoration: none;
    font-weight: bold;
}
.info a{
    color: #c7c7c7;
    text-decoration: none;
}
/*Dimension*/
.concept-two {
    display: grid;
    grid: 100%/repeat(9, 1fr);
    padding: 10em 10em;
    background: url(/assets/img/dimension.png) center center/cover;
  }
  .concept-two .hover {
    position: left;
    display: grid;
    place-items: center;
  }
  .concept-two h1 {
    color: transparent;
    text-align: 0 1px 1px;
    -webkit-text-stroke: 5px #000;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .concept-two .hover:hover h1 {
    transform: scale(3.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  /*accesibilidad*/
  .pi{
    text-align: right;
}