<body class="animated fadeIn">

    <div class="mglobal">
        <br>
        <h1 class="hbody">Acerca de Optica Dimensión</h1>
        <h3 class="pi"> <i class="fas fa-assistive-listening-systems fa-lg"><a href="javascript:void(0);" 
            class="offdec" id="Accesibilidad"  onclick="AcercaDe(1)">Active accesibilidad,
            </a></i>
            <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
            class="offdec" id="Accesibilidad"  onclick="AcercaDe(2)" style="margin-right: 5px;">Pause,
            </a></i>
            <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
            class="offdec" id="Accesibilidad"  onclick="AcercaDe(3)" style="margin-right: 5px;">Ranude,
            </a></i>
            <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
            class="offdec" id="Accesibilidad"  onclick="AcercaDe(4)" style="margin-right: 5px;">O Detenga la Accesibilidad
            </a></i>
        </h3>
        <br>
        <img class="imgO" src="../../../assets/img/acerca.png" alt="">
        <p class="pbody">Optica dimension es una clinica y proveedor líder a nivel estatal de examenes de la vista,
            micas y armazones,
            puesto que con mucho esfuerzo y sacrificio conseguimos en solo 2 años.
            La visión de optica dimensión no solo es ser lider a nivel estatal si no convertirse en el líder mundial
            de proveedor de micas y armazones, aparte de ser reconocido mundialmente por su excelente servicio al
            cliente,
            Nuestros 12,000 profesionales alrededor del estado trabajan estrechamente con nuestros clientes y
            están comprometidos a mejorar la calidad de vida de los mismos todos los días.
            En 2016, las ventas netas de Valmet fueron de aproximadamente 200 mil dolares.
            Las acciones de Optica dimensión se cotizan en Nasdaq Helsinki y la sede de la empresa está ubicada en
            Aguascalientes, México.
        </p>
        <iframe style="align-items: center;" width="560" height="315"  [src]="video | domseguro:'https://www.youtube.com/embed/' "  frame border="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" allowfullscreen></iframe> 
    </div>

<footer class="marfooter animated fadeIn">
        <div class="container-full">

            <div class="container-body">
                <div class="colum1">
                    <h1>¿Quienes Somos?</h1>
                    <p>
                        Somos una clinica socialmente responsable en donde nos preocupamos
                        por nuestros clientes,nuestra vida es servir con gusto y actitud para
                        intentar mejorar la vide de nuestros clientes.
                    </p>
                </div>

                <div class="colum2">
                    <h1>Redes sociales</h1>
                    <div>

                        <i class="fab fa-facebook fa-lg "><a href="javascript:void(0);" class="offdec"> Siguenos en
                                Facebook
                            </a> </i><br>
                        <i class="fab fa-instagram fa-lg margini"> <a href="javascript:void(0);" class="offdec">
                                Siguenos en
                                Instagram</a></i>

                    </div>
                </div>

                <div class="colum3">
                    <h1>Informacion de contacto</h1>
                    <div>

                        <i class="fas fa-warehouse fa-lg "><a class="offdec" href="javascript:void(0);"> Santanita,
                                Aguascalientes #321</a>
                        </i><br>
                        <i class="fas fa-mobile-alt fa-lg margini "> <a href="javascript:void(0);" class="offdec"> 449
                                324
                                2323</a> </i><br>
                        <i class="far fa-envelope  fa-lg margini "> <a href="javascript:void(0);" class="offdec">
                                dimension@gmail.com</a></i>

                    </div>
                </div>
            </div>
            <!--Final del conatinerbody-->

        </div>
        <!--Final del conatiner-full-->

        <div class="container-footer">
            <div class="copyr">
                @2020 Todos los derechos reservados | <a href="javascript:void(0);">Edgar</a>
            </div>

            <div class="info">
                <a href="javascript:void(0);">Politicas de privaciadad</a> | <a href="javascript:void(0);">Terminos y
                    condiciones</a>
            </div>
        </div>
</footer>

</body>