<body>
    <div class="jumbotron jumbotron-fluid color" style="background:transparent !important" >
        <div class="container">
            <h1 class="display-3 tam">Preguntas frecuentes</h1>
            <p class="lead">Aqui encontrara rapidamente algunas respuestas a las preguntas
                más comunes de nuestros clientes.
            </p>
        </div>
    </div>
    <h3 class="pi"> <i class="fas fa-assistive-listening-systems fa-lg"><a href="javascript:void(0);" 
        class="offdec" id="Accesibilidad"  onclick="PreguntasF(1)">Active accesibilidad,
        </a></i>
        <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
        class="offdec" id="Accesibilidad"  onclick="PreguntasF(2)" style="margin-right: 5px;">Pause,
        </a></i>
        <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
        class="offdec" id="Accesibilidad"  onclick="PreguntasF(3)" style="margin-right: 5px;">Ranude,
        </a></i>
        <i  style="margin-left: 20px;"><a href="javascript:void(0);" 
        class="offdec" id="Accesibilidad"  onclick="PreguntasF(4)" style="margin-right: 5px;">O Detenga la Accesibilidad
        </a></i>
    </h3>
    <br>
    <div class="mglobal">
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                            class="collapsed">
                            ¿Mi cita es totalmente valida si la hago en su página web?
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="card-body">
                        <p>Es totalmente valida su cita, no tenga miedo a probar nuevas tecnologias</p><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            ¿Es dificil hacer una cita por su página web?
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <p>Para nada es incluso más sencillo y rapido, ademas se ahorrara la molestia de estar llamando
                            por
                            telefono</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTree" aria-expanded="false"
                            aria-controls="collapseTree">
                            ¿Mi cita es totalmente valida si la hago en su página web?
                        </a>
                    </h5>
                </div>
                <div id="collapseTree" class="collapse" role="tabpanel" aria-labelledby="headingTree">
                    <div class="card-body">
                        <p>Es totalmente valida su cita, no tenga miedo a probar nuevas tecnologias</p><br>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    <br>
    <footer class="marfooter animated fadeIn">
        <div class="container-full">

            <div class="container-body">
                <div class="colum1">
                    <h1>¿Quienes Somos?</h1>
                    <p>
                        Somos una clinica socialmente responsable en donde nos preocupamos
                        por nuestros clientes,nuestra vida es servir con gusto y actitud para
                        intentar mejorar la vide de nuestros clientes.
                    </p>
                </div>

                <div class="colum2">
                    <h1>Redes sociales</h1>
                    <div>

                        <i class="fab fa-facebook fa-lg "> <a href="javascript:void(0);" class="offdec"> Siguenos en
                                Facebook </a> </i><br>
                        <i class="fab fa-instagram fa-lg margini"> <a href="javascript:void(0);" class="offdec">
                                Siguenos en
                                Instagram</a></i>

                    </div>
                </div>

                <div class="colum3">
                    <h1>Informacion de contacto</h1>
                    <div>

                        <i class="fas fa-warehouse fa-lg "><a class="offdec" href="javascript:void(0);"> Santanita,
                                Aguascalientes #321</a>
                        </i><br>
                        <i class="fas fa-mobile-alt fa-lg margini "> <a href="javascript:void(0);" class="offdec"> 449
                                324
                                2323</a> </i><br>
                        <i class="far fa-envelope  fa-lg margini "> <a href="javascript:void(0);" class="offdec">
                                dimension@gmail.com</a></i>

                    </div>
                </div>
            </div>
            <!--Final del conatinerbody-->

        </div>
        <!--Final del conatiner-full-->

        <div class="container-footer">
            <div class="copyr">
                @2020 Todos los derechos reservados | <a href="javascript:void(0);">Equipo Angular</a>
            </div>

            <div class="info">
                <a href="javascript:void(0);">Politicas de privaciadad</a> | <a href="javascript:void(0);">Terminos y
                    condiciones</a>
            </div>
        </div>
    </footer>

</body>